/**
*  As defined in
*  https://github.com/airbnb/css
*/

@font-face {
    font-family: 'Big John';
    font-style: normal;
    font-weight: normal;
    src: local('Big John'), url('../fonts/Big John.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: prompt, sans-serif;
    background-color: var(--body-background);
}

nav {
    height: 41px;
    background: #000;
    width: auto;
}

nav h1 {
    position: absolute;
    width: 230px;
    top: 10px;
    left: 1%;
    color: #fff;
    text-transform: uppercase;
    font-size: larger;
    letter-spacing: 3px;
    margin: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

nav div ul {
    z-index: 100;
}

nav ul {
    float: right;
    margin-left: 0;
    padding-top: 80px;
    list-style: none;
}

nav div {
    display: inline-block;
}

nav ul li {
    line-height: 23px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    padding: 0;
    color: var(--menu-anchor-color);
    font-size: 18px;
    text-decoration: none;
}


.banner-area {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/goldengate.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.banner-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text h2 {
    font-family: 'Big John', serif;
    color: var(--banner-text-heading);
    margin-top: -180px;
    font-size: 60px;
    /*font-size: 9vh;*/
    text-align: center;
}

.banner-text >h4 {
    font-family: 'Big John', serif;
    color: var(--banner-text-heading);
    margin-top: -180px;
    font-size: 60px;
    /*font-size: 9vh;*/
    text-align: center;
    display: inline-block;
}

label #sign-close, #sign-hamburger {
    font-size: 30px;
    color: var(--menu-hamburger-color);
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#cbx-menu {
    display: none;
}

.whiteboard {
    position: relative;
    background-color: var(--whiteboard-color);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
    border-radius: 10px;
    z-index: 10;
}

.article-flex-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-flex-container {
    width: 100%;
}

.portfolio-sections {
}

.img-portfolio {
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
}

.img-tech-blog{
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
    margin-top: 10px;
    width: 80vh;
}

.img-employee-management-system{
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
    margin-top: 10px;
    margin-left: 20px;
    width: 70vh;
}

.img-test-taker{
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
    margin-top: 10px;
    margin-left: 10px;
    width: 85vh;
}

.img-ecommerce-backend{
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
    margin-top: 10px;
    margin-left: -5px;
    width: 80vh;
}

.img-portfolio-other {
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2);
    height: 70%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

.button-container {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.whiteboard h1, h2, h3, h4, h5, h6 {
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer {
    position: relative;
    font-size: 12px;
    color: var(--footer-color);
}

.symbol {
    font-size: 10vh;
    color: var(--symbol-color);
}

.mail {
    letter-spacing: 1px;
}

.contact-text {
    font-size: 2vh;
    margin-top: 0;
    margin-right: 5vh;
    margin-left: 5px;

}

/*Buttons*/

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-github-repository,
.button-live-link,
.button-disabled {
    color: var(--button-color);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: var(--button-background-success);
}

.button-error {
    background: var(--button-background-error);
}

.button-warning {
    background: var(--button-background-warning);
}

.button-secondary {
    background: var(--button-background-secondary);
}

.button-disabled {
    background: var(--button-background-disabled);
    color: black;
}

.button-github-repository {
    background: var(--button-background-github-repository);
    margin: 2px;
}

.button-live-link {
    background: #359AF2;
    margin: 2px;
}

. {
    border: 1px solid red;
}

.img-about{

}

.polaroid-container{
    width: 100%; display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.polaroid{
    background-color: #fff;
    padding: 10px 10px 35px 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}